:root {
   font-size: 62.5%;
   font-family: "Roboto", sans-serif;
   font-style: normal;
}

.cabecalho{
   width: 100vw;
   height: 15vh;
   display: flex;
   justify-content: center;
}

.cabecalho .navbar{
   width: 90vw;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

ul{
   display: flex;
   gap: 30px;
   font-size: 2rem;
}

.link a{
   position: relative;
   padding-bottom: 0.75rem;

}
.link a::after{
   content: "";
   position: absolute;
   height: 3px;
   width: 0;
   bottom: 0;
   left: 0;
   background-color: #000;
   transition: all 0.3s ease;
}

.link a:hover::after{
   width: 75%;
}

.logoHome{
   width: 8rem;
}

main{
   width: 100vw;
   height: 85vh;
   display: flex !important;
   justify-content: center !important;
   align-items: center !important;
}

main section{
   width: 40vw;
   border: 2px solid #111;
}

.img-form{
   width: 100%;
}

.form{
   padding: 2rem 0;
   display: flex;
   justify-content: space-around;
}

.form div{
   font-size: 2rem;
   display: flex;
   flex-direction: column;
   gap: .7rem;
}

.form div h2{
   font-weight: bold;
}

.form div ion-icon{
   font-size: 4rem;
}

.form div a{
   font-size: 1.4rem;
   opacity: .7;
   text-decoration: underline;
}